<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiFi Hotspot Einstellungen</title>
</head>
<body>
    <h1>WiFi Hotspot Einstellungen</h1>
    <form action="/update_settings" method="post">
        <label for="ssid">SSID:</label>
        <input type="text" id="ssid" name="ssid" value="{{ ssid }}"><br><br>
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" value="{{ password }}"><br><br>
        <label for="hostname">Hostname:</label>
        <input type="text" id="hostname" name="hostname" value="{{ hostname }}"><br><br>
        <label for="edge_key">EDGE Key:</label>
        <input type="text" id="edge_key" name="edge_key" value="{{ edge_key }}"><br><br>
        <label for="edge_secret">EDGE Secret:</label>
        <input type="text" id="edge_secret" name="edge_secret" value="{{ edge_secret }}"><br><br>
        <label for="edge_db_password">EDGE Datenbank Passwort:</label>
        <input type="password" id="edge_db_password" name="edge_db_password" value="{{ edge_db_password }}"><br><br>
        <label for="cloud_rpc_host">CLOUD RPC Host:</label>
        <input type="text" id="cloud_rpc_host" name="cloud_rpc_host" value="{{ cloud_rpc_host }}"><br><br>
        <label for="spring_datasource_url">SPRING DATASOURCE URL:</label>
        <input type="text" id="spring_datasource_url" name="spring_datasource_url" value="{{ spring_datasource_url }}"><br><br>
        <label for="access_token">Access Token:</label>
        <input type="text" id="access_token" name="access_token" value="{{ access_token }}"><br><br>
        <input type="submit" value="Speichern">
    </form>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>